<!DOCTYPE html>
<html>
    <head>
        <title>RESUME MATCH</title>
    </head>

    <body>
        <h1>RESUME MATCH</h1>
        <p>This is the resume match please add JD and upload resume in pdf form</p>

        <div>
            <form action="/result" method="post" enctype="multipart/form-data">

                <label for="jd" >PASTE JOB DESCIPTION : </label> <br>
                <textarea id="jd" name="jd" rows="12" cols="70" required></textarea> <br> <br>

                <label for="resume">RESUME UPLOAD : </label> <br>
                <input type="file" id="resume" name="resume" accept="application/pdf" required> <br> <br>

                <input type="submit" value="MATCH">
            </form>
        </div>

    </body>
</html>